<div id="text">
      <h1 id="page_heading"></h1>

 
<h2>Broad strokes...</h2>


<p>My name is Sarah and I started this project in spring 2011 to stretch my
slowly (but surely!) forming ruby-on-rails muscles. It just so happens that at about this time
I was also making plans to do some <a href= "http://www.wwoof.org">wwoofing</a> in Europe,
and figured that a blog would be a good way to both track these travels and get my feet wet
in web developing.</p>

<p>This site is made (mostly) from scratch, but I did give myself a head start with
a blog engine called <a href= "https://github.com/xaviershay/enki">Enki</a>. I started
writing it completely from scratch and quickly realized that the 4 weeks I had
before flying to Copenhagen was, as hopeful as I had been, not nearly enough time
to get a grip on what exactly the internet is, teach myself ruby, and deploy a
fully developed app for use while I was abroad. The from-scratch-app slid back on to
the to-do list.</p>

<p> Please - if you have any feedback, suggestions, want to say 'hi', god forbid found a
typo or grammatical error (cough mom cough), or if the site isn't working for you,
<a href="/contact">let me know</a>.</p>

      </div>
