<%= stylesheet_link_tag 'aqtree3clickable' %>
<ul class="aqtree3clickable">
  <li><a href="">July 2011</a>
  <ul>
    <li><a href="https://sarahjrohm.sugarsync.com/albums/thumb/3334237_21844?autoAccept=true">July 8, 2011</a></li>
    
  </ul>
  </li>

</ul>